extends ../../layout

block content
	.page-header
	h2
		i.fa.fa-google(style='color: #7b0099')
		| Google API
	br
	table.table.table-hover.table-bordered
		thead
			tr
				th 1
				th 2
				th 3
		tbody
			each row in rows
				tr
					each cell in row	
						td= cell
	hr				
